.floating-button {
    position: fixed;
    top: 52px;
    left: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 15px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    font-size: 20px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.floating-button span {
    display: inline-block;
    vertical-align: middle;
}

/* Button hover effect */
.floating-button:hover {
    background-color: #0056b3;
}

/* Button active effect */
.floating-button:active {
    background-color: #004387;
}

/* Button focus effect */
.floating-button:focus {
    outline: none;
}
.floating-form-container {
    position: fixed;
    top: 52px;
    left: 70px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    display: none;
    max-width: 400px;
    z-index: 9999;
}
/* Style for the form inside the floating form container */
.floating-form-container form input[type=text], input[type=number]{
    display: block;
}
.floating-form-container form h2{
    padding-bottom: 14px;
}
.floating-form-container form input[type=submit]{
    background-color: #333;
}
.floating-form-container form input[type=submit]:hover{
    background-color: #228B22;
}
/* Style for the close button inside the floating form container */
.floating-form-container .close-button {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 18px;
    width: 18px;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
    border: none;
    text-align: center;
    justify-content: center;
    line-height: 18px;
}
.close-button:hover{
    background-color: #CE3226;
    color: #fff;
}